body{
    text-align: center;
    font-size: 21px;
    
}


.menu{
    display: inline-flex;
}

button {
    background-color: transparent;
    margin-left: 0%;
    margin-top: 1px;
    width: 180px;
    /*  when i change it to % it doesent work on other buttns */
    height: 50px;
    font-size: 21px !important;
    /* color: white; */
    transition: all ease 0.8s;
    border-bottom: 2px solid white ;
    border-top: none;
    border-left: none;
    border-right: none;
}

.dropdown:hover .dropbtn,
button:hover {
    transition: all ease 0.8s;
    border-top: 2px solid white;
    border-left: 2px solid red;
    border-right: 2px solid red;
    background-color: transparent;
    border-bottom: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-contact button {
    display: block;
}

.dropdown-contact button:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-contact {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropdown-contact {
    border-top: none;
    border-left: 2px solid red;
    border-right: 2px solid red;
    display: none;
    position: absolute;
    background-color: transparent;
    max-width: 178px;
    z-index: 1;
}

.dropdown-contact button {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: none;
    border-bottom: none;
}

.dropdown-contact {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
}

.dropdown-contact:hover {
    border-bottom: 2px solid white;
}

.dropdown-contact button:hover {
    /* div instagram */
    border-top: none;
    border-bottom: none;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.dropdown:hover .dropdown-contact {
    display: block;
}
/* .type{
    font-size: 21px; 
} */